*,*:after, *:before{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: rgb(33, 36, 35);
    height: 264px;
    width: 40%;
    margin-top: -6%;
    margin-left: -12%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}


#carga{
    border: 15px solid #0a4939;
    border-top-color: #0ae0ab;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

#title-p{
    margin-top: 178px;
}

@keyframes girar{
    from{ transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

