@media (min-width: 768px) { 
    .icon-facebook .icon-google{
        width: 16px;
        height: 20px;
        padding-top: 0.5rem;
    }

    .btn-google{
        width: 12.5rem;
        padding-top: 9px;
    }

    .btn-facebook{
        padding-top: 8px;
    }
}