.style-questions{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0rem;
    width: 100px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.style-questions-off{
    margin-top: 0;
    margin-bottom: 0rem;
}